.space {
  margin: 0 2vw 0 2vw;
}

.main-bar {
  width: 100%;
  height: 5vh;
  margin: 0.5vw 0 0 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

hr {
  width: 100%;
}

.status-main {
  display: flex;
  position: absolute;
  /* padding: 0 0 0 10vw; */
  justify-content: space-between;
}

/* .class-status {
  width: 70px;
  height: 20px;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
} */

.class-status-font {
  width: 70px;
  height: 20px;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
}

.sus-table-container {
  margin: 5px 0 40px 0;
}

.p-table-container {
  margin: 5px 0 40px 0;
}

.btn-main {
  padding: 0 0 0 10vw;
  display: flex;
  position: absolute;
  right: 5vw;
  align-items: center;
}

.main-table {
  width: 100%;
  margin-top: 2.5vh;
}

.nav {
  width: 100%;
  height: 7vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.nav-front {
  /* padding: 0 0 0 10vw; */
  display: flex;
  align-items: center;
}
.nav-back {
  display: flex;
  position: absolute;
  right: 5vw;
  align-items: center;
  justify-content: flex-end;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 19px;
  flex-shrink: 0;
  border: 2px solid;
  border-radius: 5px;
  border-color: #cfdaec;
  stroke-width: 1px;
  stroke: #000;
}
#select-column {
  width: 40%;
  padding-left: 2px;
  border: none;
  border-right: 2px solid;
  border-color: rgba(217, 217, 217, 0.2);
}
.search-input {
  border: none;
  padding: 4px;
}
.search-input::placeholder {
  margin-left: 2px;
}

/* .btn-search {
  width: 35px;
  height: 26px;
  flex-shrink: 0;
  border: none;
  background: rgba(217, 217, 217, 0);
} */

.search-icon {
  width: 30px;
  height: 18px;
  flex-shrink: 0;
}

.btn-re {
  width: 35px;
  height: 26px;
  flex-shrink: 0;
  border: none;
  background: rgba(217, 217, 217, 0);
}
.re-icon {
  width: 30px;
  height: 20px;
  flex-shrink: 0;
}

hr {
  border-left : 0;
  border-right: 0;
}