.btn-modify {
  width: 63px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #cfdaec;
  background: rgba(217, 217, 217, 0);
}

.modify-icon {
  width: 15px;
  height: 20px;
  flex-shrink: 0;
}

.font-modify {
  display: flex;
  width: 31px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
