.graph-size {
    width: 90vw;
     /* width: 200vw; */
    height: 55vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }

  .parent-container{
    width: 200vw;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }

.graph-container {
    display: inline-block;
    /* width: 70vw; */
    width: 200%;
    min-width: 30vw;
    height: 50vh;
    overflow-x: scroll;
}

  .checkbox-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 40vh;
    text-align: center;
    margin-top: 3em;
    margin-right: 5em;
    border-radius: 10px;
    padding-left: 120px;
    border: 1px solid gray;

  }

  .index-name{
    justify-content: center;
    text-align: left;
    vertical-align: center;
    width: 200px;
    margin-bottom: 5px;
  }

  .date{
    margin-top: 50px;
    width: 160px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
  }

  .date p{
    margin-left: 5px;
    margin-right: 5px;
  }

  .date input[type="date"]:first-child {
    /* margin-right: 100px; */
    width: 180px;
    height: 20px;
    font-size: 9.5px;
  }
  
  .date input[type="date"] {
    width: 180px;
    height: 20px;
    font-size: 9.5px;
  }
  
  .search-button {
    margin-top: 30px;
    width: 160px;
    height: 30px;
    border: none;
    font-weight: 400;
    /* border-radius: 64px; */
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #0D47A1;
    margin-right: 120px;
}

.detail-check-btn{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 2.5vh;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-right: 2em;
  
}

.all-btn{
  margin-right: 1em;
  width: 2vw;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.5em;
  cursor: pointer;
}

.allout-btn{
  width: 3.5vw;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.5em;
  cursor: pointer;
}

  .detail-graph-wrap{
    height: 50vh;
    width: 200%;
  }