.detail-graph-wrap{
    margin-top: 80px;
    width: 700px;
    height: 350px;
    clear: both;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.detail-graph-wrap p {
    font-weight: 500;
}

.detail-data-name{
    width: 100px;
    /* height: 500px; */
    background-color: #0D47A1;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 60px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 5px;

}