.btn-list {
  width: 35px;
  height: 26px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  border: 2px solid #cfdaec;
  border-radius: 5px;
  /* opacity: 0.2; */
  background: rgba(217, 217, 217, 0);
}
.list-icon {
  display: flex;
  justify-content: center;
  margin: auto;
  border: none;
  width: 21.688px;
  height: 14.375px;
  flex-shrink: 0;
  opacity: 1;
  fill: #343330;
}
