/* Login페이지 */

.page{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;

    /* 가운데 배치 */
    left: 50%;
    transform: translate(-50%, 0);
    
    /* background-color: #F7F7F7; */

    overflow: hidden;

    /* 세로방향 배치 */
    display: flex;
    /* 버튼을 최하단에 위치시키기 위한 속성 */
    flex-direction: column;
    }
    
.logo-wrap {
    margin-top: 20%;
}

.logo-img {
    width: 500px;
    height: 300px;
}
    
.content-wrap {
    margin-top: 0;
}

.input-wrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: #fff;
    border: 1px solid #e2e0e0;
}

.input-wrap:focus-within {
    border: 1px solid #0D47A1;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

.error-message-wrap {
    margin-top: 8px;
    margin-bottom: 8px;
    /* color: #d9534f; */
    color: #ef0000;
    font-size: 12px;
    
}

.bottom-button {
    margin-top: 30px;
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    /* border-radius: 64px; */
    border-radius: 10px;
    color: #222;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: #96A1A8;
}

.bottom-button:hover {
    background-color: #0D47A1;
    color: #fff;
}

.bottom-button:disabled {
    background-color: #dadada;
    color: #fff;
}