.p-tb {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.p-tb-thead {
  height: 5vh;
}

.p-tb tr:nth-child(even) {
  background-color: #f2f2f2;
}

.p-tb tr:hover {
  background-color: #ddd;
}

.row-checkbox {
  padding: 8px;
  text-align: center;
}

.p-tb-thead .row-checkbox:first-child {
  display: none;
}

.p-tb-column {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0d47a1;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}

.btn-page-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2% 0 3% 0;
}

.btn-page,
.btn-num-page {
  border: none;
  margin: 0 0 0 5px;
  background-color: #fff;
  color: #000;
  font-family: Pretendard Variable;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* thead 길이 조절 시작 */

.p-tb-thead tr th:first-child {
  width: 1vw;
}

.p-tb-thead tr th:nth-child(2) {
  width: 4vw;
}

.p-tb-thead tr th:nth-child(3) {
  width: 5vw;
}

.p-tb-thead tr th:nth-child(4) {
  width: 5vw;
}

.p-tb-thead tr th:nth-child(5) {
  width: 5vw;
}

.p-tb-thead tr th:nth-child(6) {
  width: 8vw;
}

.p-tb-thead tr th:nth-child(8),
.p-tb-thead tr th:nth-child(9),
.p-tb-thead tr th:nth-child(10),
.p-tb-thead tr th:nth-child(11),
.p-tb-thead tr th:nth-child(12),
.p-tb-thead tr th:nth-child(13),
.p-tb-thead tr th:nth-child(14) {
  width: 5vw;
}
/* thead 길이 조절 끝 */

/* tbody 길이 조절 시작 */

.p-tb {
  text-align: center;
  max-height: 4vh;
}

.p-tb-thead tr th:first-child .row-checkBox {
  display: none;
}

.btn-page-container .btn-num-page {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.p-tb tbody tr {
  max-height: 4vh;
}

.table-page-col {
  border: none;
  background-color: transparent;
}
